@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
    }

    .section-filters {
        padding-top: 64px;
        padding-bottom: 96px;
    }

    .list-filters {
        justify-content: center;
        margin-bottom: 64px;
    }

    .list-portfolio {
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }
}

/* -----------------------min-width: 1158px----------- */
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    .section-filters {
        padding-top: 96px;
        padding-bottom: 120px;
    }

    .list-filters {
        margin-bottom: 72px;
    }

    .list-portfolio {
        row-gap: 48px;
    }

    .portfolio-item {
        width: calc((100% - 48px) / 3);
    }
}