:root {
   --logo-color: #4D5AE5;
   --text-color: #2E2F42;
   --adress-color: #434455;
   --background-color: #ffffff;
   --button-colos-active: #404bbf;
   --background-seclion-four: #F4F4FD;
   --logo-color-footer: #F4F4FD;
}

body {
   font-family: "Roboto", sans-serif;
   color: var(--adress-color);
   background-color: var(--background-color);
}

.list {
   list-style: none;
   display: flex;
   margin: 0;
   padding: 0;
}

.link {
   text-decoration: none
}

* {
   box-sizing: border-box;
}

.container {
   width: 1128px;
   padding: 0 15px;
   margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0 auto;
}

p,
ul {
   padding: 0;
   margin: 0;
}

/* HEDER nav */
/* -------------обводка */
.container {
   outline: 2px solid red;
}

.page-header {
   border-bottom: 1px solid red;
}

.site-nav li {
   outline: 1px solid red;
}

.auth-nav li {
   outline: 1px solid red;
}

/* ----------конец обводки */

.header-container {
   display: flex;
   align-items: center;
   margin: 0 auto;
   border-bottom: none;
   border-bottom: 1px solid #E7E9FC;
}

.header-nav {
   display: flex;
   align-items: center;
}

.site-nav {
   display: flex;
}

.auth-nav {
   display: flex;
}


.logotepy-link {
   margin-left: 76px;
   margin-right: 32px;

   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--logo-color);
}

.logo {
   color: var(--text-color);

}

.header-item {
   margin-right: 40px;
}

.header-item:last-child {
   margin-right: 40px;
}

.header-link {
   padding-bottom: 24px 0;

   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--text-color);
}

.header-link:is(:hover, :focus) {
   color: var(--button-colos-active);
}

.page-adress {
   margin-left: auto;
   font-style: normal
}

.header-adress-link {
   font-style: normal;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--adress-color);
}

.auth-nav .adress-item+.adress-item {
   margin-left: 40px;
}

.header-item :is(:hover, :focus) {
   color: var(--button-colos-active);
}

/* section1 HERO*/
.section-hero {
   background-color: var(--text-color);
}

.container-hero {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.hero-title {
   margin-left: auto;
   margin-right: auto;
   max-width: 496px;
   padding-top: 188px;
   margin-bottom: 48px;

   font-weight: 700;
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
   letter-spacing: 0.02em;
   color: var(--background-color);
}

.hero-list-btn {
   margin-bottom: 188px;
   min-width: 169px;

   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   display: block;
   letter-spacing: 0.04em;
   color: #ffffff;
   border-color: #4D5AE5;
   text-decoration: none;

   cursor: pointer;
   border-radius: 4px;
   border-color: transparent;
   padding: 16px, 32px;
   text-align: center;
}

.hero-list-btn:is(:hover, :focus) {
   background-color: #404BBF;
}

/* section2 */
/* ----------------обводка----- */
.list-text li {
   outline: 1px solid red;
}

/* ---------конец обводки------- */
.container-text {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.visuali-hidden {
   display: none
}

.list-text {
   display: flex;
   padding: 120px 0;
   gap: 24px;
}

.list-item {
   max-width: 264px;
   width: calc((100% - 72px) / 4);
}

.subtitle {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--text-color);
   margin-bottom: 8px;
}

.text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--adress-color);
}

/* title page */
.title-page {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: var(--text-color);
}

/* section3 */
.page-doing {
   display: block;
}

.caption-page {
   margin-top: 0;
   margin-bottom: 72px;

}

.list-imeges {
   gap: 24px;
}

.image-item {
   display: block;
   margin-bottom: 120px;
   width: calc((100% - 48px) / 3);
}

/* section4 */
.team {
   background-color: var(--background-seclion-four);
}

.title-page {
   padding-top: 120px;
   margin-bottom: 72px;
}

.list-items {
   display: flex;
   gap: 24px;
   /* width: calc((100% - 72px) / 4);
   margin-bottom: 32px; */
}

.team-item {
   background-color: var(--background-color);
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   border-radius: 0px 0px 4px 4px;

   display: flex;
   flex-direction: column;
   flex-shrink: 0;
   width: calc((100% - 72px) / 4);
}

.team-info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 32px 16px;
}

.team-item-title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--text-color);
   text-align: center;

   padding-bottom: 8px;

}

.team-item-text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--adress-color);
   text-align: center;
}

/* footer */
.page-footer {
   background: var(--text-color);
}

.logotepy-link-footer {
   display: inline-block;
   padding: 100px 0;
   margin-bottom: 16px;


   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--logo-color);
}

.logo-footer {
   color: var(--logo-color-footer);
  
}

.text-footer {
   width: 264px;
   padding-bottom: 100px;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--background-seclion-four);
}

/*-------- PORTFOLIO PAGE --------*/

/* section */
.container-filters {
   display: block;
}

.list-filters {
   margin-top: 96px;
   margin-bottom: 72px;
   justify-content: center;
   gap: 24px;
}

.filter-link-btn {
   display: block;
   border-color: transparent;

   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   align-items: center;
   text-align: center;
   text-decoration: none;
   letter-spacing: 0.04em;

   color: #4d5ae5;
   background-color: #F4F4FD;
   border: 1px solid #E7E9FC;
   cursor: pointer;
   border-radius: 4px;
}

.filter-link-btn:is(:hover, :focus) {
   color: #FFFFFF;
   background-color: #404BBF;
}

/* .container-portfolio {
   display: flex;
} */

.list-portfolio {
   display: flex;
   flex-wrap: wrap;
   gap: 24px;
   margin-bottom: 48px;
}

.portfolio-item {
   width: calc((100% - 48px) / 3);
}

.portfolio-link {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.portfolio-info {
   padding: 32px 16px;
   border: 1px solid #E7E9FC;
   border-top: none;
}

.portfolio-item-title {
   margin-bottom: 8px;

   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--text-color);
}